body{
    background-color: #f4f4f4;
    overflow-x: hidden;
    font-family: sans-serif;
}

.header{
    position: fixed;
    width: 100%;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color:  #0ac30a; */
    /* background: linear-gradient(to bottom right,#0ac30a,#418441); */
    background: linear-gradient(to bottom right,#1D4ED8,#007bff);
    color: #fff;
    height: 6vh;
}

.logo{
    padding: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left-side{
    display: flex;
    flex-direction: row;
    gap: 40px;
}

.nav-list{
    display: flex;
    flex-direction: row;
    list-style-type: none;
}

.nav-list li{
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 200px;
    transition: 0.5s;
}

.nav-list li a{
    text-decoration: none;
    color: inherit;
}

.nav-list li:hover{
    background-color: #fff;
    color: #000;
    transition: 0.5s;
}

.account{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin-right: 10px;
    cursor: pointer;
    padding: 5px;
    color: #fff;
}

.account-image{
    width: 5vh;
    height: auto;
    border-radius: 50%;
}

.burger{
    display: none;
    cursor: pointer;
}

.close-btn{
    position: fixed;
    top: 0;
    right: 0;
    background: none;
    color: #fff;
    font-size: 3vh;
    font-weight: bold;   
    cursor: pointer;
    display: none;
}

@media screen and (max-width:1250px) {
    .logo{
        font-size: 3vh;
    }
    
    .burger{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        gap: 1vh;
    }
    
    .burger div{
        background-color: #fff;
        border-radius: 4px;
        width: 3vw;
        height: 0.5vh;
    }
    .left-side{
        position: fixed;
        width: 100%;
        transform: translateX(100%);
        display: flex;
        background-color: #0ac30a;
        height: 100vh;
        flex-direction: column-reverse;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
        font-size: 3vh;
        /* padding-bottom: 50vh; */
        transition: 0.5s;
        overflow: auto;
    }

    .nav-list{
        flex-direction: column;
        justify-content: none;
        width: 100%;
        height: 70%;
        gap: 5vh;
        align-items: center;
    }

    .nav-list li{
        width: fit-content;
    }

    .account{
        background-color: #1a901a;
        width: 90%;
        height: 10%;
        margin-top: 5%;
        border-radius: 10px;
    }

    .account-image{
        width: 6vh;
        height: auto;
    }
    .close-btn{
        display: block;
    }

}

.main{
    margin-top: 5vh;
    background-color: #f4f4f4;
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.general-info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.general-info-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: .5vh;
    background-color: #fff;
    color: #000;
    box-shadow: 5px 5px 5px #e1e8ddda;
    width: 17%;
    height: 13vh;
    border-radius: 10px;

}

.general-info-box span:last-child{
    font-size: 1rem;
}

.expense-income{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
    /* justify-content: space-evenly; */
    align-items: center;
    width: 100%;
    /* height: 8vh; */
}

.expense-income span{
    font-size: 1.8rem;
    display: flex;
    flex-direction: row;
}

.trending-arrow{
    font-size: 1.8rem !important;
}

.seperator{
    height: 130%;
    width: 2px;
    background-color: #45583f;
    /* transform: rotate(45deg); */
}

.add-expense{
    
    background: linear-gradient(to top,#0ac30a,#1b7d1b);
    background: linear-gradient(to bottom right,#0ac30a,#245724);
    background: linear-gradient(to bottom right,#1D4ED8,#007bff);
    box-shadow: 5px 5px 5px #424640da;
    transition: .4s;
    cursor: pointer;
}

.add-expense:hover{
    box-shadow: 5px 5px 10px #424640da;
}

.add-expense button{
    border-radius: 0px;
    background-color: transparent;
    font-size: 2.4rem;
    cursor: pointer;
    color: #fff;
}

@media screen and (max-width:1750px){
    .general-info-box span{
        font-size: 1.4rem;
    }
    .general-info-box span:last-child{
        font-size: 1rem;
    }
    .trending-arrow{
        font-size: 1.4rem !important;
    }
    .expense-income span{
        font-size: 1rem !important;
        display: flex;
        flex-direction: row;
    }
    .add-expense button{
        font-size: 1.8rem;
    }

}

.graphs{
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.top-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.category-summary{
    width: 48%;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e1e8ddda;
}

.category-summary h5{
    text-align: left;
}

.pie-chart{
    /* background-color: green; */
    margin: auto;
    width: 60%;
}

.bar-chart{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 100%;
}

.chart-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    /* background-color: #0ac30a; */
}
.date{
    border: none;
    font-size: 1.4rem;
    border-bottom: 3px solid #0ac30a;
    border-bottom: 3px solid #1D4ED8;
    outline: none;
}

.second-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.monthly-statistics{
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 5px 5px 5px #e1e8ddda;
    width: 60%;
    flex: 7;
    /* height: 60vh; */
    padding: 10px;
}

.line-chart{
    width: 100%;
}

.year-statistics{
    background: linear-gradient(to bottom right,#1D4ED8,#007bff);
    background: linear-gradient(to bottom right,#007bff,#1E2760);
    margin: 20px;
    border-radius: 10px;
    color: #fff;
    padding: 10px;  
    box-shadow: 5px 5px 10px #007bff;  
    box-shadow: 5px 5px 10px 10px #f5f5f5;  
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 20vh;
    gap: 15px;
}

.year-statistics .outer-div{
    background: linear-gradient(to bottom right,#1D4ED8,#007bff);
    background: linear-gradient(to bottom right,#7A2048,#007bff);
    background: linear-gradient(to bottom right,#fff,#ddd);
    background: transparent;
    /* background: #fff; */
    color: #fff;
    color: #000;
    /* margin: 10px; */
    border-radius: 10px;
    width: 20%;
    flex: 3;
    height: 100%;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    justify-content: space-between;
    /* justify-content: center; */
    /* gap: 10px; */
}

.month-div{
    display: flex;
    background: linear-gradient(to bottom right,#fff,#ddd);
    color: #000;
    font-size: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex: 3;
    border-radius: 10px;
}

.year-statistics .outer-div div{
    display: flex;
    flex-direction: column;
    background: linear-gradient(to bottom right,#fff,#ddd);
    border-radius: 10px;
    padding: 5px 0;
}

.percentage-container{
    background: linear-gradient(to bottom right,#fff,#ddd) !important;
}

.month, .amount{
    font-weight: 600;
    /* font-size: 26px; */
}
  
.single-chart {
width: 33%;
justify-content: space-around;
}

.circular-chart {
display: block;
margin: 10px auto;
max-width: 80%;
max-height: 250px;
}

.circle-bg {
fill: none;
stroke: #eee;
stroke: #ccc;
stroke-width: 3.8;
}

.circle {
fill: none;
stroke-width: 2.8;
stroke-linecap: round;
animation: progress 1s ease-out forwards;
stroke: #007bff;
}

@keyframes progress {
0% {
    stroke-dasharray: 0 100;
}
}

.percentage {
fill: #666;
font-family: sans-serif;
font-size: 0.5em;
text-anchor: middle;
}

.daily-stats-head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* padding: 10px; */
}

.transactions{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 48%;
    flex: 3;
    border-radius: 10px;
    background: linear-gradient(to bottom right,#007bff,#7A2048);
    box-shadow: 5px 5px 5px #e1e8ddda;
    padding: 10px;
}

.transactions h5{
    text-align: left;
    color: #fff;
}

.transactions-table{
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #fff;
    height: 55%;
    /* height: fit-content; */
}

.transactions-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* background-color: #007bff; */
    color: #f4f4f4;
    /* color: #000; */
    padding: 5px;
    border-radius: 10px;
    /* font-weight: 600; */
    width: 99%;
    margin-bottom: 5px;
}

.transactions-header div, .transaction div{
    width: 100%;
    text-align: center;
    font-weight: 600;
    font-family: Cairo;
}

.my-transactions{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    font-weight: 600;
    font-family: Cairo;

}

.transaction{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px;
    background: linear-gradient(to bottom right,#fff,#ddd);
    background: transparent;
    color: #fff;
    border-radius: 10px;
    margin-bottom: 3px;
    width: 99%;
    cursor: pointer;
    font-size: 20px;
}

.transaction:hover{
    background-color: #f9f9f9;
    color: #000;
    display: flex;
}

.records{
    /* height: 40%; */
    /* height: 40%; */
    /* height: fit-content; */
    /* height: 50%; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.records-chart{
    background: linear-gradient(to bottom right,#fff,#ddd);
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 3;
    /* width: 40%; */
}

.second-div{
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex: 7;
    height: 100%;
    /* justify-content: center; */
    /* background-color: red; */
}

.highest-record{
    background: linear-gradient(to bottom right,#fff,#ddd);
    border-radius: 10px;
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 20px;
    width: 100%;
    /* padding: 50px; */
}

.records-amounts{
    background: linear-gradient(to bottom right,#fff,#ddd);
    border-radius: 10px;
    height: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

